  h1 {
    text-align: center;
    color: white;
  }
  body {
    background-color: black;
  }
  p {
    color: white;
    font-size: 26px;
    text-align: center;
  }
  ul {
    color: white;
  }
  li {
    color: white;
  }
  img {
    display: block;
    margin: auto;
    height: 500px;
    width: 500px;
  }
